/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/playfair-display-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
    margin:0;
    background-color: black;
    height:100vh;
    font-family: 'Playfair Display';
    text-align: center;
    text-shadow: 1ch;
    color:rgb(255, 255, 255);
}

header {
    width:100%;
    position: fixed;
    background-color:#700000;
}

.logo {
    width:30%;
    float: left;
}

nav {
    float: right;
    line-height: 120px;
}

nav a {
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-family: 'Playfair Display';
    padding:10px 10px;
    margin: 1rem 2rem;
    font-weight: 700;
}

nav a:nth-child(1) {
    background-image: url(img/insta.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

nav a:hover {
    box-shadow: inset 200px 0 0 0 #F2BA57;
    transition: 700ms ;
}

.container {
    margin: 0;
    height: 100vh;
    display:grid;
    place-items: center;
}


.main-header {
    margin: 0;
    position:sticky;
    width: 100%;
    height: 8vh;
    display: block;
    background-color: rgb(235, 239, 243, 0.5);
}

.logoPic {
    width:30%;
    height:auto;
    float:left;
    position:relative;
    background-image: url(img/icon.jpg);
}

.banner-area {
    margin: 0px;
    height:60vh;
    background: url(img/banner.JPG);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position:relative;
    opacity: 0.8;
}

.banner-area h2 {
    animation: fadeIn 3s;
    position: relative;
    top: 4%;
    opacity: 1;
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 2em #DEC77A, 0 0 0.5em gold;
}

@keyframes fadeIn {
    0% { 
        top:15%;
        opacity: 0; 
    }
    100% { opacity: 1; }
  }

.loc a {
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 40px;
    color: white;

    background:
    linear-gradient(
      to right,
      rgb(201, 221, 218),
      rgb(63, 212, 218)
    ),
    linear-gradient(
      to right,
      rgb(221, 200, 12),
      rgba(255, 0, 0, 1),
      rgb(177, 28, 28)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 400ms;
}

.loc a:hover {
    background-size: 0 3px, 100% 3px;
  }

.card-group,
.card {
    aspect-ratio: 5/7;
}

.card-group,
.big-card {
    width:30vmin;
}

.card {
    aspect-ratio: 5/7;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    transition: 800ms cubic-bezier(.03,.97,.33,.94);
}

.big-card {
    width: 30vmin;
    border-radius: 1vmin;
}

.little-card {
    width: 15vmin;
    border-radius: 2vmin;
    left:50%;
    top:50%;
    transform: translate(-50%, 60vh);
}

.little-card:nth-child(1) {
    background-image: url(img/);
    background-size: cover;
}

.little-card:nth-child(3) {
    background-image: url(img/);
    background-size: cover;
}

.little-card:nth-child(5) {
    background-image: url(img/);
    background-size: cover;
}

.little-card:nth-child(7) {
    background-image: url(img/fries.jpg);
    background-size: cover;
}

.big-card:nth-child(2) {
    background-image: url(img/wendy11.JPG);
    background-size: cover;
    transform: translateX(-10%);
    rotate: -3deg;
}

.big-card:nth-child(4) {
    background-image: url(img/wendy22.JPG);
    background-size: cover;
    transform: translateX(-5%);
    rotate: 0deg; 
}

.big-card:nth-child(6) {
    background-image: url(img/burger.JPG);
    background-size: cover;
    transform: rotate(3deg);
}

.big-card:nth-child(8) {
    background-image: url(img/wendy2.JPG);
    background-size: cover;
    transform: translateX(9%); 
    rotate: 5deg;
}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 15%) rotate(-18deg);
}

.card-group:hover > .big-card:nth-child(4) {
    transform: translate(-25%, 5%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(6) {
    transform: translate(25%, 5%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(8) {
    transform: translate(75%, 12%) rotate(18deg);
}

.card-group:hover > .little-card:nth-child(1) {
    transform: translate(140%, 47vh) rotate(-18deg);
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(-180%, 45vh) rotate(14deg);
}

.card-group:hover > .little-card:nth-child(5) {
    transform: translate(120%, 97vh) rotate(13deg);
}

.card-group:hover > .little-card:nth-child(7) {
    transform: translate(-240%, 93vh) rotate(-14deg);
}